<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="spinner-border"></div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <RedirectToLogin />
        </NotFound>
    </Router>
</CascadingAuthenticationState>