<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            © @DateTime.Now.Year SGK Portal - İzmir Sosyal Güvenlik İl Müdürlüğü
        </div>
        <div class="d-none d-lg-inline-block">
            <a href="#" class="footer-link me-4">Hakkında</a>
            <a href="#" class="footer-link me-4">Yardım</a>
            <a href="#" class="footer-link">İletişim</a>
        </div>
    </div>
</footer>