@page "/auth/loginhandler"
@model SGKPortalApp.PresentationLayer.Pages.Auth.LoginHandlerModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Giriþ yapýlýyor...</title>
</head>
<body>
    <div style="text-align: center; padding: 50px;">
        <h3>Giriþ yapýlýyor, lütfen bekleyin...</h3>
    </div>
</body>
</html>
