@page "/personel/servis/add"
@inherits SGKPortalApp.PresentationLayer.Components.Base.FieldPermissionPageBase
@using SGKPortalApp.PresentationLayer.Components.Permission
@using SGKPortalApp.PresentationLayer.Pages.Personel.Servis.Components

<PageTitle>Yeni Servis - SGK Portal</PageTitle>

@if (!CanViewPage)
{
    <div class="alert alert-danger" role="alert">
        <i class="bx bx-lock-alt me-2"></i>
        Bu sayfayı görüntüleme yetkiniz bulunmuyor.
    </div>
}
else
{
    <FieldPermissionScope PageKey="@ResolvedPermissionKey" IsEditMode="false">
        <ServisForm Id="0" />
    </FieldPermissionScope>
}
