@page "/common/il/add"
@inherits SGKPortalApp.PresentationLayer.Components.Base.FieldPermissionPageBase
@using SGKPortalApp.PresentationLayer.Components.Permission
@using SGKPortalApp.PresentationLayer.Pages.Common.Il.Components

<PageTitle>Yeni İl - SGK Portal</PageTitle>

@if (!CanViewPage)
{
    <div class="alert alert-danger" role="alert">
        <i class="bx bx-lock-alt me-2"></i>
        Bu sayfayı görüntüleme yetkiniz bulunmuyor.
    </div>
}
else
{
    <FieldPermissionScope PageKey="@ResolvedPermissionKey" IsEditMode="false">
        <IlForm Id="0" />
    </FieldPermissionScope>
}
