@page "/common/il/manage/{Id:int}"
@inherits SGKPortalApp.PresentationLayer.Components.Base.FieldPermissionPageBase
@using SGKPortalApp.BusinessObjectLayer.DTOs.Response.Common
@using SGKPortalApp.PresentationLayer.Components.Permission
@using SGKPortalApp.PresentationLayer.Pages.Common.Il.Components

<PageTitle>İl Düzenle - SGK Portal</PageTitle>

@if (!CanViewPage)
{
    <div class="alert alert-danger" role="alert">
        <i class="bx bx-lock-alt me-2"></i>
        Bu sayfayı görüntüleme yetkiniz bulunmuyor.
    </div>
}
else
{
    <FieldPermissionScope PageKey="@ResolvedPermissionKey" IsEditMode="true">
        <IlForm Id="@Id" />
    </FieldPermissionScope>
}
