@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace SGKPortalApp.PresentationLayer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="tr" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/portal/assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>SGK Portal</title>
    <base href="~/" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/portal/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/portal/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/portal/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/portal/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/portal/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/portal/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/portal/assets/vendor/js/helpers.js"></script>

    <!-- Config -->
    <script src="~/portal/assets/js/config.js"></script>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        Bir hata oluştu. Bu uygulama yeniden yüklenene kadar yanıt vermeyebilir.
        <a href="" class="reload">Yenile</a>
        <a class="dismiss">🗙</a>
    </div>

    <!-- Core JS -->
    <script src="~/portal/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/portal/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/portal/assets/vendor/js/bootstrap.js"></script>
    <script src="~/portal/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <!-- Menu JS -->
    <script src="~/portal/assets/vendor/js/menu.js"></script>

    <!-- Main JS -->
    <script src="~/portal/assets/js/main.js"></script>

    <!-- Blazor Framework -->
    <script src="_framework/blazor.server.js"></script>
</body>
</html>