@page "/common/sik-kullanilan-program/manage/{Id:int}"
@inherits SGKPortalApp.PresentationLayer.Components.Base.FieldPermissionPageBase
@using SGKPortalApp.PresentationLayer.Components.Permission
@using SGKPortalApp.PresentationLayer.Pages.Common.SikKullanilanProgram.Components

<PageTitle>Program Düzenle - SGK Portal</PageTitle>

@if (!CanViewPage)
{
    <div class="alert alert-danger" role="alert">
        <i class="bx bx-lock-alt me-2"></i>
        Bu sayfayı görüntüleme yetkiniz bulunmuyor.
    </div>
}
else
{
    <FieldPermissionScope PageKey="@ResolvedPermissionKey" IsEditMode="true">
        <SikKullanilanProgramForm Id="@Id" />
    </FieldPermissionScope>
}
