/* Sneat Chevron Rotation - HTML class'ına göre */
html.layout-menu-collapsed .layout-menu-toggle .bx-chevron-left {
    transform: scaleX(-1) !important;
}

html.layout-menu-fixed:not(.layout-menu-collapsed) .layout-menu-toggle .bx-chevron-left {
    transform: scaleX(1) !important;
}

.bx-chevron-left {
    transition: transform 1s ease !important;
}

.clickable {
    cursor: pointer;
    /* İsteğe bağlı: Tıklanabilir hissi için ekstra stiller */
    color: #007bff; /* Mavi renk, link gibi görünmesi için */
    text-decoration: underline; /* Alt çizgi ekleyin (isteğe bağlı) */
}

.clickable:hover {
    color: #0056b3; /* Hover efekti için renk değişimi */
    text-decoration: underline; /* Hover'da alt çizgiyi kalınlaştırın (isteğe bağlı) */
}
