/* Sneat Chevron Rotation - HTML class'ına göre */
html.layout-menu-collapsed .layout-menu-toggle .bx-chevron-left {
    transform: scaleX(-1) !important;
}

html.layout-menu-fixed:not(.layout-menu-collapsed) .layout-menu-toggle .bx-chevron-left {
    transform: scaleX(1) !important;
}

.bx-chevron-left {
    transition: transform 0.6s ease !important;
}
